<footer id="footer" class="bg-secondary">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="mt-0 pt-4 border-t border-primary-border">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <p class="text-primary-text-tertiary text-sm">
                    &copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.
                </p>
                <div class="flex items-center gap-4">
                    <div class="flex gap-3 my-2">
                        <a href="mailto:contact@psira.me" class="icon inline-flex" aria-label="Email">
                            {{ with site.Data.icons.email }}{{ .svg | safeHTML }}{{ end }}
                        </a>
                        <a href="https://github.com/p-sira" class="icon inline-flex" aria-label="GitHub">
                            {{ with site.Data.icons.github }}{{ .svg | safeHTML }}{{ end }}
                        </a>
                        <a href="https://instagram.com/_psira_" class="icon inline-flex" aria-label="Instagram">
                            {{ with site.Data.icons.instagram }}{{ .svg | safeHTML }}{{ end }}
                        </a>
                        <a href="https://orcid.org/0000-0002-5636-8870" class="icon inline-flex" aria-label="ORCID">
                            {{ with site.Data.icons.orcid_icon }}{{ .svg | safeHTML }}{{ end }}
                        </a>
                    </div>

                    <div class="text-sm text-secondary">
                        <p><span id="abacus"></span> page visits</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>