<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

<title>{{ .Title }} - {{ .Site.Title }}</title>
<meta name="description"
    content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">

{{ with resources.Get "logo/favicon.svg" }}
<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}">
{{ end }}

<!-- Social Preview -->
<meta property="og:url" content="https://psira.me/">
<meta property="og:sitename" content="{{ .Site.Params.sitename }}">
<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
<meta property="og:description"
    content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:locale" content="en_us">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Site.Params.sitename }}">
<meta property="og:image" content="/images/white-coat-social-preview.jpg">

<!-- Light/Dark Mode -->
<script>
    let localStorageValue = localStorage.getItem("pref-theme");
    let mediaQuery = window.matchMedia('(prefers-color-scheme: dark)').matches;

    switch (localStorageValue) {
        case "dark":
            document.documentElement.classList.add('dark');
            break;
        case "light":
            document.documentElement.classList.remove('dark');
            break;
        default:
            if (mediaQuery) {
                document.documentElement.classList.add('dark');
            }
            break;
    }
</script>

<!-- View Count -->
<script>
    function cb(response) {
        document.getElementById('abacus').innerText = response.value;
        document.getElementById('page-view-count').classList.remove("hidden");
    }
</script>
<script async src="https://abacus.jasoncameron.dev/hit/psira.me/visits?callback=cb"></script>

<!-- Fonts -->
<link rel="preload" href="/fonts/noto-sans-v42-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

<!-- Import Map for browser ESM -->
<script type="importmap">
{
    "imports": {
        "orcid-parser": "https://cdn.jsdelivr.net/npm/orcid-parser@0.2.0/dist/index.mjs",
        "orcid-parser/constants": "https://cdn.jsdelivr.net/npm/orcid-parser@0.2.0/dist/constants.mjs"
    }
}
</script>

<!-- Tailwind CSS -->
{{ with (templates.Defer (dict "key" "global")) }}
{{ partial "css.html" . }}
{{ end }}

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}