<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" class="h-full">

<head>
    {{- partial "head.html" . -}}
</head>

<body class="bg-primary text-primary transition-colors duration-1000">
    
    {{ partial "header.html" . }}

    <main>
        {{ block "content" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    <!-- Other JavaScripts -->
    <script src="{{ "js/build/popup.js" | relURL }}"></script>
    <script src="{{ "js/build/badges.js" | relURL }}" defer></script>
    <script src="{{ "js/build/theme.js" | relURL }}" defer></script>
</body>

</html>
