{{ template "popup_card" dict "ID" "about-card" "Title" "About" "ContentTemplate" "about_content" }}

{{ define "about_content" }}
<p class="text-primary mb-2">
    Sira Pornsiriprasert (สิร พรศิริประเสริฐ) is a medical student at Ramathibodi Hospital and a Master of Biomedical
    Engineering candidate at Mahidol University, Thailand.
</p>

<p class="text-primary mb-6">
    Currently open to research collaboration and student hackathon advisory.
</p>

{{ template "info_block" dict "Title" "Clinical Interests" "Content" "Ophthalmology, Neurology, Pediatric Cardiology" }}

{{ template "info_block" dict "Title" "Engineering Interests" "Content" "Algorithm, Scientific Libraries, Artificial Intelligence, Medical Robotics" }}

<div class="flex items-center mb-2 flex-wrap gap-8">
    <div class="flex gap-8 items-center flex-wrap">
        <div class="flex items-center gap-2 text-tertiary">
            <i class="fas fa-envelope text-secondary"></i>
            <a href="mailto:contact@psira.me" class="text-tertiary inline-flex items-center hover:underline">
                contact@psira.me
            </a>
        </div>

        <div class="flex items-center gap-2 text-tertiary">
            <i class="fas fa-location-dot text-secondary"></i>
            <span class="inline-flex items-center">Bangkok, Thailand</span>
        </div>
    </div>

    <div class="flex gap-4 text-secondary text-lg">
        <a href="https://orcid.org/0000-0002-5636-8870"><i class="fa-brands fa-orcid"></i></a>
        <a href="https://github.com/p-sira"><i class="fa-brands fa-github"></i></a>
        <a href="https://instagram.com/_psira_"><i class="fa-brands fa-instagram"></i></a>
    </div>
</div>



{{ end }}