{{ define "popup_card" }}
<div id="{{ .ID }}" class="popup-card" role="dialog" aria-labelledby="{{ .ID }}-title" aria-hidden="true">
  <div class="flex flex-col h-full pb-4 px-6 pt-6 sm:px-8 sm:pt-8 lg:pb-6 lg:px-12 lg:pt-12">
    <div class="flex justify-between items-center mb-6 flex-shrink-0">
      <h2 id="{{ .ID }}-title" class="text-2xl sm:text-4xl font-bold text-primary">{{ .Title }}</h2>
      {{ template "close_btn" dict "Title" "{{ .Title }}" }}
    </div>
    <div class='space-y-6 flex-1 overflow-y-auto {{ if eq .ContentTemplate "code_content" }} mb-3 {{ end }}'>
      {{ if eq .ContentTemplate "about_content" }}
        {{ template "about_content" . }}
      {{ else if eq .ContentTemplate "experience_content" }}
        {{ template "experience_content" . }}
      {{ else if eq .ContentTemplate "code_content" }}
        {{ template "code_content" . }}
      {{ else if eq .ContentTemplate "achievements_content" }}
        {{ template "achievements_content" . }}
      {{ else if eq .ContentTemplate "research_content" }}
        {{ template "research_content" . }}
      {{ end }}
    </div>
    <div class="text-secondary mt-auto -mx-4 md:mx-0 pt-0 lg:pt-2">
      {{ partial "nav/navbar_horizontal.html" . }}
    </div>
  </div>
</div>
{{ end }}