{{- $research := .Site.Data.research | default dict -}}
{{- $publications := slice -}}
{{- $conferences := slice -}}
{{- $services := slice -}}
{{- if $research.publications -}}
    {{- range $research.publications -}}
        {{- $publications = $publications | append (dict 
            "title" .title
            "subtitle" .subtitle
            "authors" .authors
            "year" .year
            "url" .url
            "type" .type
            "index" (default 9999 .index)
            "category" "publications"
            "borderColor" (default "primary" .borderColor)
        ) -}}
    {{- end -}}
{{- end -}}
{{- if $research.conferences -}}
    {{- range $research.conferences -}}
        {{- $conferences = $conferences | append (dict 
            "title" .title
            "subtitle" .subtitle
            "authors" .authors
            "year" .year
            "url" .url
            "type" .type
            "index" (default 9999 .index)
            "category" "conferences"
            "borderColor" (default "primary" .borderColor)
        ) -}}
    {{- end -}}
{{- end -}}
{{- if $research.services -}}
    {{- range $research.services -}}
        {{- $services = $services | append (dict 
            "title" .title
            "subtitle" .subtitle
            "authors" .authors
            "year" .year
            "url" .url
            "type" .type
            "index" (default 9999 .index)
            "category" "services"
            "borderColor" (default "primary" .borderColor)
        ) -}}
    {{- end -}}
{{- end -}}
{{ template "popup_tabs" dict 
    "ID" "research-card" 
    "Title" "Research" 
    "Tabs" (slice 
        (dict 
            "ID" "publications" 
            "Label" "Publications" 
            "Items" $publications
            "Template" "research_entry"
        ) 
        (dict 
            "ID" "conferences" 
            "Label" "Conferences" 
            "Items" $conferences
            "Template" "research_entry"
        ) 
        (dict 
            "ID" "services" 
            "Label" "Academic Services" 
            "Items" $services
            "Template" "research_entry"
        )
    )
}}